[Unit]
Description=WoslandOS First-Boot Provisioning
After=network-online.target
Wants=network-online.target
ConditionPathExists=/usr/local/bin/wosland-provision.sh

[Service]
Type=oneshot
ExecStart=/usr/local/bin/wosland-provision.sh
RemainAfterExit=yes
StandardOutput=journal+console
StandardError=journal+console
TimeoutStartSec=900
Environment=WOSLAND_REBOOT=1

[Install]
WantedBy=multi-user.target
